{% extends "base.html" %}

{% block content %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-md-6 text-center" action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="top-buffer"></div>
      <div class="slogo"></div>
      <div class="searchbox">
        <input type="text" placeholder="Search" name="searchbar" value="" autocomplete="off">
        <button type="submit" class="search-btn" name="search"><i class="fas fa-search"></i></button>
      </div>
      <div class="menu-buttons">
        <div class="container">
          <div class="row justify-content-center">
            <a href="{% url 'genre' %}" class="col-sm-5 menu-button btn-genre">GENRES</a>
            <a href="{% url 'playlists' %}" class="col-sm-5 menu-button btn-playlist">PLAYLISTS</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
